* {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    background-color: #1b2838;
}

.cantidad-productos {
    width: 120px;
}

.datos {
    color: #ddd;
}

.nav-bar {
    display: flex;
    background-color: rgba(255, 255, 255, 0) !important;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    position: absolute;
    width: 100%;
}

.nav-bar .botonera {
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.nav-bar .botonera a {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none;
    color: white;
    font-size: 1.1rem;

}

.nav-bar .botonera a:hover {
    color: #acd550;
}

.logo {
    width: 4rem;
    color: #ddd;
}

.imagen-tarjeta {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)),
        url('/Recursos/4k-ultra-hd-gaming-call-of-duty.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imagen-tarjeta h1 {
    color: #fff;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px rgb(177, 172, 172);
}

.imagen-tarjeta h6 {
    font-size: 22px;
    font-weight: 900;
    font-family: "Montserrat", Sans-serif;
    color: #fff;
}

.imagen-tarjeta p {
    font-size: 25px;
    font-weight: 900;
    font-family: "Montserrat", Sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px #66c0f4;
}

.buttonTitulo {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.buttonTitulo {
    --border-right: 6px;
    --text-stroke-color: white;
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: width 0.5s ease, filter 0.5s ease;
    -webkit-text-stroke: 1px var(--animation-color);
}

.buttonTitulo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
    transition: width 0.5s ease, filter 0.5s ease;
}

.icono {
    height: 30px;
}

.barra-divisora {
    height: 4rem;
    background-color: #66c0f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-titulo {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 20px;
}

.card {
    width: 90%;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card:hover {
    cursor: url("/Recursos/joystick.png"), auto;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.card:hover .content {
    opacity: 1;
}

.content h2,
.content p,
.btn-agregar-carrito {
    margin: 10px 0;
}

p {
    font-size: 1em;
}

.data-precio {
    font-size: 1.5em;
}

.btn-agregar-carrito {
    background-color: #66c0f4;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: url("/Recursos/joystick.png"), auto;

}

.btn-agregar-carrito:hover {
    background-color: #acd550;
    cursor: url("/Recursos/joystick.png"), auto;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card:hover::after {
    opacity: 1;
    inset: 20px;
}

.cantidad-box {
    margin-top: 10px;
    width: 10px;
    padding: 5px;
    font-size: 16px;
    align-items: center;
}


/* From Uiverse.io by Z4drus */
.button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button-3d {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 8px;
    min-width: 4em;
    min-height: 4em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
}

.button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 8px 16px;
    transform: translateY(0);
    color: #fff;
    background-image: linear-gradient(145deg, #6a11cb, #2575fc);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: transform 0.3s, border-radius 0.3s, background 10s;
}

.button-3d:active .button-top {
    border-radius: 10px 10px 8px 8px / 8px;
    transform: translateY(2px);
    background-image: linear-gradient(145deg, #2575fc, #6a11cb);
}

.button-bottom {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 4px;
    border-radius: 20px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    background-image: linear-gradient(145deg, #2575fc, #6a11cb);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    transition: border-radius 0.2s, padding-top 0.2s;
}

.button-base {
    position: absolute;
    z-index: 0;
    top: 4px;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
        inset 0 2px 2px rgba(0, 0, 0, 0.25);
    transition: border-radius 0.2s, padding-top 0.2s;
}

.button-3d:active .button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
}

.button-3d:active .button-base {
    border-radius: 10px 10px 8px 8px / 8px;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.pie-pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 22, 48, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    padding: 45px 0px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure img {
    width: 250px;
}

.box h2 {
    color: #acd550;
    margin-bottom: 25px;
    font-size: 20px;
}

.box p {
    color: #66c0f4;
    margin-bottom: 10px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.redes-sociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: all 300ms ease;
}

.grupo-2 {
    padding: 15px 10px;
    text-align: center;
    color: #0f0101;
}

.grupo-2 small {
    font-size: 15px;
    color: #66c0f4;
}

.mapa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width: 550px) {
    .sub-titulo {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {

    .nav-bar {
        flex-direction: column;
        position: relative;
        background-color: #000000 !important;
    }

    .nav-bar .botonera {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 14px;
    }

    .imagen-tarjeta {
        height: 70vh;
        padding: 20px;
        text-align: center;

    }

    .imagen-tarjeta p {
        font-size: 1rem;
        margin-top: 0;
    }
}

@media screen and (max-width: 1000px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr 1fr;
        align-items: center;

        padding: 20px 10px;
    }

    .box figure img {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 1000px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

}

@media screen and (max-width: 600px) {
    .productos {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .card {
        width: 100%;
        aspect-ratio: auto;
    }

    .btn-agregar-carrito {
        width: 70%;
        font-size: 0.6rem;
    }

    .content h2 {
        font-size: 1rem;
    }

    .content p {
        font-size: 1rem;
    }

    .descripcion {
        display: none;
    }

    .card:hover::after {
        display: none;
    }

    .search-input {
        width: 70% !important;
        font-size: 15px !important;
    }
}

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #5c5c5c, #f5f5f5);
    padding: 30px;
    border-radius: 15px;
    transition: background 0.3s ease;
    perspective: 1000px;
}

.label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease,
        text-shadow 0.3s ease;
}

.search-input {
    position: relative;
    width: 170px;
    height: 40px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: linear-gradient(to right, #d9d9d9, #f8f8f8);
    font-size: 16px;
    color: #555;
    outline: none;
    transition: box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease,
        border-color 0.3s ease, transform 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
    border-color: #4caf50;
    background: linear-gradient(to right, #c2f0c2, #f0f0f0);
    transform: rotateX(20deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.search-input:focus+.label,
.search-input:not(:placeholder-shown)+.label {
    transform: translateY(-120%) scale(0.8);
    font-size: 12px;
    color: #4caf50;
    text-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
}

.search-input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2) inset;
    background: linear-gradient(to right, #e6e6e6, #f9f9f9);
    border-color: #999;
}

.clear-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.clear-button:hover {
    color: #4caf50;
    transform: scale(1.1);
}

.search-input:not(:focus):not(:placeholder-shown)+.clear-button {
    opacity: 1;
}

.shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right,
            rgba(255, 255, 255, 0.6),
            transparent);
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search-input:focus+.shine {
    opacity: 1;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
    border-radius: 50%;
}

.search-input:focus+.search-icon {
    color: #4caf50;
    transform: translateY(-50%) scale(1.1);
    filter: drop-shadow(0 0 5px rgba(76, 175, 80, 0.6));
}

@keyframes inputPulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.search-input:focus {
    animation: inputPulse 0.5s ease;
}



/* Modo oscuro */
.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode {
    background-color: #15191d;
}

body.dark-mode .barra-divisora {
    background-color: #212529;
}

body.dark-mode .sub-titulo {
    color: #ffffff;
}

body.dark-mode .pie-pagina {
    background: rgb(21, 50, 89);
    background: radial-gradient(circle, rgba(21, 50, 89, 1) 0%, rgba(8, 8, 8, 1) 17%, rgba(11, 17, 26, 1) 78%);
}

body.dark-mode .redes-sociales {
    color: #ffffff;
}

body.dark-mode h2 {
    color: #ffffff;
}

body.dark-mode p {
    color: #ffffff;
}

body.dark-mode small {
    color: #ffffff;
}

body.dark-mode .buttonTitulo {
    --text-stroke-color: #b3b3b3;
    --animation-color: #c50ba0;
}

body.dark-mode .buttonTitulo .hover-text {
    -webkit-text-stroke: 1px var(--animation-color);
    border-right: var(--border-right) solid var(--animation-color);
}

body.dark-mode .buttonTitulo:hover .hover-text {
    filter: drop-shadow(0 0 23px var(--animation-color));
}


body.dark-mode .imagen-tarjeta {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)),
        url('/Recursos/spiderman.webp') no-repeat center center/cover;
}

body.dark-mode .imagen-tarjeta h1 {
    color: #b3b3b3;
    text-shadow: 2px 2px 2px rgb(77, 77, 77);
}

body.dark-mode .imagen-tarjeta h6 {
    color: #808080;
}

body.dark-mode .imagen-tarjeta p {
    color: #999999;
    text-shadow: 2px 2px 2px #666666;
}

body.dark-mode .dark-popup {
    background-color: #121212;
    color: white;
}

body.dark-mode .btn-agregar-carrito {
    background-color: #1b2838;
}

body.dark-mode .btn-agregar-carrito:hover {
    background-color: #c50ba0;
}